/* General Styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background: #f4f4f9;
}

header {
  background: #4caf50;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 24px;
}

#map {
  height: 80vh;
  width: 100%;
  margin: 20px auto;
  border: 2px solid #ccc;
  border-radius: 10px;
}

footer {
  text-align: center;
  padding: 10px;
  background: #4caf50;
  color: white;
}

.marker-popup {
  font-size: 14px;
  color: #333;
  text-align: center;
}
h1{
  color: Black;
  style: bold;
}
  
